.case:hover {
    transform: translate3d(0px, -20px, 0px);
    transition: 0.5s;
    transition-delay: 300ms;
    cursor: pointer;
  }

  .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    font-size: 28px;
  }

  @keyframes wave-animation {
    0%{transform: rotate( 0.0deg);}
    10%{transform: rotate(-10.0deg);}
    20%{transform: rotate(12.0deg);}
    30%{transform: rotate(-10.0deg);}
    40%{transform: rotate(9.0deg);}
    50%{transform: rotate( 0.0deg);}
    100%{transform: rotate( 0.0deg);}
  }
